/* RESET */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* FLOAT MANAGER */
clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* UTILITY */
.relative{
    position:relative;
}

.container{
    width:90%;
    margin:0 auto;
    
}

.float-sx{
    float:left;
}

.float-dx{
    float:right;
}

.btn-large {
    border-radius:15px;
    padding: 8px 20px;
    border:none;
}

/* FINE UTILITY */

body{
    font-family: 'Whitney', sans-serif;
    
    
}

h1{
    font-size:3rem;
    color:white;
    
}

nav{ 
    margin: 0.5rem 4rem;
}

nav ul li{
    display:inline;
    color:white;
    text-decoration: none;
    padding-right:30px;
    
}


.logo{
    width:25%;
    display: inline-block;
    vertical-align: middle;

}


/* inizio sezione jumbo */
section.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    height:650px;
}



.jumbo-text{
    position:absolute;
    top:15%;
    left:31%;
    width:65%;
    
}

.jumbo-text p{
    position:absolute;
    top:100px;
    width:750px;
    text-align:center;
    color:white;
    font-size: 1.2rem;
    line-height:24px;
    transform:translate(-10%);
}

.jumbo-buttons{
    margin-top:15%;
}

.login-btn {
    
    text-align:center;
    margin-top:5px;
    background-color: white;
    padding: 8px 10px;
    border:none;
    border-radius:15px;
}

.jumbo-btn-sx{
    margin-right:30px;
    background-color:white;
    
    
}

.jumbo-btn-dx{
    background-color: rgb(29, 26, 26);
    color:white;
    padding: 10px 22px;
}
/* fine sezione jumbo */

/* inizio prima sezione canali tematici  */
.first-hero-img{
    width: 80%;
    left:7%;
    position:absolute;
}


.first-hero-content{
    padding-bottom:200px;
}

.first-hero-text{
    position:absolute;
    right:7%;
}


.first-hero-text h1{
    color:black;
    text-align:left;
    width:350px;
    line-height:4rem;
}

.first-hero-text p{
    width:350px;
    line-height:2rem;
    margin-right:100px;
}

section.first-hero{
    background-color: white;
    width:100%;
    border-color: 5px solid black;
    
}
/* fine prima sezione canali tematici  */



